# API configuration - ใช้ IP ของเครื่อง Server แทน localhost
API_HOST=

# กรณีต้องต่อ Database (สมมติว่ามีตัวแปรนี้)
DATABASE_URL=

# Next.js configuration
NODE_ENV=development
NEXT_TELEMETRY_DISABLED=1